@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 33% 100%;
    --foreground: 222 65% 5%;
    --muted: 222 28% 85%;
    --muted-foreground: 222 1% 29%;
    --popover: 0 0% 99%;
    --popover-foreground: 222 65% 4%;
    --card: 0 0% 99%;
    --card-foreground: 222 65% 4%;
    --border: 222 2% 92%;
    --input: 222 2% 92%;
    --primary: 222 49% 84%;
    --primary-foreground: 222 49% 24%;
    --secondary: 222 2% 91%;
    --secondary-foreground: 222 2% 31%;
    --accent: 222 9% 85%;
    --accent-foreground: 222 9% 25%;
    --destructive: 22 86% 33%;
    --destructive-foreground: 0 0% 100%;
    --ring: 222 49% 84%;
    --radius: 1rem;
  }

  .dark {
    --background: 235 19% 13%;
    --foreground: 229 35% 75%;
    --muted: 235 12% 17%;
    --muted-foreground: 235 12% 67%;
    --popover: 235 19% 10%;
    --popover-foreground: 229 35% 85%;
    --card: 235 19% 11%;
    --card-foreground: 229 35% 80%;
    --border: 235 9% 18%;
    --input: 235 9% 21%;
    --primary: 223 45% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 235 19% 28%;
    --accent-foreground: 235 19% 88%;
    --destructive: 9 82% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 223 45% 44%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}